@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.2/font/bootstrap-icons.css");
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}
/* Custom Properties */
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;
  --clr-light: #fff;
  --clr-dark: #11161a;
  --clr-yellow: #ecb365;
  --clr-blue: #2d4263;
  --clr-border: rgba(0, 0, 0, 0.125);
  --fw-reg: 300;
  --fw-bold: 900;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0 1px 5px 0 rgba(0, 0, 0, 0.1);
}
@media (min-width: 1008px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.4rem;
    --fs-body: 1.1rem;
  }
}
/* General Styles */
html {
  scroll-behavior: smooth;
}
body {
  background-color: var(--clr-light);
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  color: var(--clr-light);
}

a {
  text-decoration: none;
}
img {
  width: 100%;
  max-height: 100%;
  object-fit: cover;
}

/* General classes */
.hidden {
  display: none;
}

.container {
  width: 80%;
  margin: auto;
}
.more-about-us-container {
  justify-content: space-between;
}
.flex-container {
  display: flex;
  align-items: center;
}

.grid-box {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--clr-light);
}
.column {
  flex-direction: column;
  flex-grow: 1;
}
.btn {
  text-align: center;
  font-size: var(--fs-body);
  border: none;
  padding: 15px 30px;
  transition: 0.4s;
  color: var(--clr-light);
}
.btn:hover {
  background-color: var(--clr-yellow);
}
.btn-dark {
  background-color: var(--clr-dark);
}
.btn-light {
  background-color: var(--clr-blue);
}
/* Typography */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}
h1 {
  font-size: var(--fs-h1);
}
h2 {
  font-size: var(--fs-h2);
}
h3 {
  font-size: var(--fs-h3);
}

/* Navbar */
.navbar {
  background-color: var(--clr-dark);
  color: var(--clr-yellow);
  padding: 5px 0;
}
.navbar .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.nav-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.hamburger-menu {
  width: 30px;
  height: 21px;

  background-color: transparent;
  border: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.hamburger-menu .bar {
  width: 100%;
  height: 3px;
  border-radius: 10px;
  background-color: var(--clr-yellow);
}
.logo {
  align-self: flex-start;
}
.logo img {
  max-height: 30px;
  object-fit: contain;
}
.menu-content {
  display: none;
  flex-direction: column;
  width: 100%;
}
.menu-content.active {
  display: flex;
}
.menu-content ul {
  padding: 0;
  list-style: none;
  margin: 0;
}
.menu-content li {
  text-align: center;

  width: 100%;

  margin: 0%;
}

.menu-content li a {
  display: block;
  padding-top: 15px;
  height: 100%;
  color: var(--clr-yellow);
  width: 100%;
}
@media (min-width: 1008px) {
  .hamburger-menu {
    display: none;
  }
  .menu-content {
    display: flex;
  }
  .menu-content ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-between;
  }
  .nav-menu {
    width: fit-content;
  }
  .menu-content ul {
    display: flex;
  }
  .navbar .container {
    flex-direction: row;
  }
}
/* Hero  */
.hero {
  height: 600px;
  position: relative;

  font-family: var(--ff-primary);
  background-color: black;
}
.hero-img {
  height: inherit;
  position: relative;
}
.hero-img:after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.6;
}
img {
  height: 100%;
}
.hero-content {
  position: absolute;
  bottom: 10%;
  left: 10%;
}
.section-title {
  margin-bottom: 20px;
}
.section-subtitle {
  margin-bottom: 20px;
}
/* about-us */
.about-us {
  margin-top: 25px;
}
.cards-container {
  margin: auto;
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
  margin-bottom: 25px;
}
.card {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--clr-border);
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  color: var(--clr-dark);
}
.card-img {
  height: 50%;
  overflow: hidden;
}
.card-img img {
  height: 100%;
  overflow: hidden;
  border-radius: 5px 5px 0 0;
}
.card-content {
  flex-grow: 1;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-between;
}
.card-btn {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.card-item {
  display: flex;
  width: 100%;

  justify-content: center;
}
@media (min-width: 800px) {
  .cards-container {
    flex-wrap: nowrap;
  }
}
.card {
  transition: 0.3s;
}
.card:hover {
  transform: scale(1.05);
}
.show-more {
  cursor: pointer;
  border-top: 1px solid var(--clr-border);
  border-bottom: 1px solid var(--clr-border);
  padding: 20px 15px;
  transition: 0.3s;
}
.show-more i {
  font-size: var(--fs-h3);
  margin-right: 10px;
  transition: 0.3s;
}
.show-more:hover {
  color: var(--clr-blue);
}
.rotate {
  transform: rotate(180deg);
}
/* Grid section */
.grid-section {
  background-color: var(--clr-blue);
  padding: 2rem 0;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 2rem;
}
.grid-box {
  aspect-ratio: 1/0.7;
  color: var(--clr-dark);
  font-weight: var(--fw-bold);
  flex-direction: column;
  border-radius: 6px;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.grid-box .content i {
  font-size: 4rem;
  color: var(--clr-blue);
}
@media (min-width: 641px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 1008px) {
  .grid-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Footer */
.footer {
  background-color: var(--clr-dark);

  padding-top: 20px;
  padding-bottom: 20px;
}
.footer-boxes {
  display: flex;
  justify-content: space-between;
}
.footer-box-list {
  list-style: none;
}
.footer-box-list {
  padding: 0;
}
.footer-box-list li {
  margin-top: 10px;
}
.footer-box-list a {
  color: var(--clr-light);
}
